<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale=1" />

  <base href="/">

  <title>Neural Activity Resource Browser</title>

  <!-- css files -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="/app/app.css">

  <!-- angular stuff -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-aria/angular-aria.js"></script>
  <script src="/node_modules/angular-messages/angular-messages.js"></script>
  <script src="/node_modules/angular-material/angular-material.js"></script>
  <script src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
  
  <!-- authentication/authorization -->
  <script src="/lib/angular-bbp-config/angular-bbp-config.js"></script>
  <script src="/lib/bbp-oidc-client/angular-bbp-oidc-client.js"></script>

  <!-- our angular app -->
  <script src="/app/app.js"></script>
  <script src="/app/services.js"></script>
  <script src="/app/controllers.js"></script>
</head>

<body ng-app="nar" layout="column">

      <!-- Toolbar -->
    <md-toolbar layout="row" class="md-toolbar-tools">


      <h1 flex><a href="/app">Neural Activity Resource (alpha)</a></h1>
    </md-toolbar>

    <!-- Container for sidebar and main content -->
    <div flex layout="row" ng-controller="DefaultController as app">

      <!-- Sidebar -->
      <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
        <md-list>
          <md-list-item ng-repeat="experiment in app.experiments | orderBy:'get_label()'">
            <md-button ng-click="app.selectExperiment(experiment)" ng-class="{'selected' : experiment === app.selected }" md-truncate>
              <small>{{experiment.get_label()}}</small>
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <!-- Main content -->
      <md-content flex id="content">

        
        <h2 class="md-display-1">Patch clamp experiment: {{app.stimulus_experiment.name}}</h2>

        <md-list>
          <md-list-item layout="row" class="odd">
            <span flex="20">Stimulus:</span>
            <div flex>{{app.stimulus_experiment.stimulus.name}}
            </div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Brain region:</span>
            <div flex><a href="{{app.patched_cell.brainLocation.brainRegion['@id']}}" target="_blank">{{app.patched_cell.brainLocation.brainRegion.label}}</a>
            </div>
          </md-list-item>
          <!--<md-list-item layout="row">
            <span flex="20">Patched slice id</span>
            <div flex>{{app.patched_slice.name}}</div>
          </md-list-item>-->
          <md-list-item layout="row">
            <span flex="20">Patching performed by:</span>
            <div flex>
              <ul>
                <li ng-repeat="person in app.patching_activity.people">
                  {{person.givenName}} {{person.familyName}}
                </li>
              </ul>
            </div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Slice id:</span>
            <div flex>{{app.slice.name}}</div>
          </md-list-item>
          <md-list-item layout="row">
            <span flex="20">Slicing performed by:</span>
            <div flex>
                <ul>
                  <li ng-repeat="person in app.slicing_activity.people">
                    {{person.givenName}} {{person.familyName}}
                  </li>
                </ul>
              </div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Cutting thickness:</span>
            <div flex>{{app.slicing_activity.cuttingThickness.value}} {{app.slicing_activity.cuttingThickness.label}}</div>
          </md-list-item>
          <md-list-item layout="row">
            <span flex="20">Slicing angle:</span>
            <div flex>{{app.slicing_activity.slicingAngle}}</div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Slicing plane:</span>
            <div flex>{{app.slicing_activity.slicingPlane}}</div>
          </md-list-item>
          <md-list-item layout="row">
            <span flex="20">Slicing solution:</span>
            <div flex ng-bind-html="app.slicing_activity.solution"></div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Date/time:</span>
            <div flex>{{app.slicing_activity.startedAtTime['@value']}}</div>
          </md-list-item>
          <!--<md-list-item layout="row">
            <span flex="20">Subject death date</span>
            <div flex>{{app.subject.deathDate}}</div>
          </md-list-item>-->
          <md-list-item layout="row">
            <span flex="20">Subject age:</span>
            <div flex>{{app.subject.age.value.value}} {{app.subject.age.value.label}}</div>
          </md-list-item>
          <md-list-item layout="row" class="even">
            <span flex="20">Subject name:</span>
            <div flex>{{app.subject.name}}</div>
          </md-list-item>
          <!--<md-list-item layout="row">
            <span flex="20">Subject id</span>
            <div flex>{{app.subject.providerId}}</div>
          </md-list-item>-->
          <md-list-item layout="row">
            <span flex="20">Subject sex:</span>
            <div flex>{{app.subject.sex.label}}</div>
          </md-list-item>
          <md-list-item layout="row"  class="even">
            <span flex="20">Subject species:</span>
            <div flex><a href="{{app.subject.species['@id']}}" target="_blank">{{app.subject.species.label}}</a></div>
          </md-list-item>
          <md-list-item layout="row">
              <span flex="20">Number of traces:</span>
              <div flex>{{app.traces.length}}</div>
            </md-list-item>
            <md-list-item layout="row"  class="even">
                <span flex="20">Data files:</span>
                <div flex>
                  <ul>
                    <li ng-repeat="file_url in app.data_files">
                      <a ng-if="app.validURL(file_url)" href="{{file_url}}" target="_blank">{{app.relativePath(file_url)}}</a>
                      <span ng-if="!app.validURL(file_url)">{{file_url}}</span>
                    </li>
                  </ul>
                </div>
              </md-list-item>
        </md-list>

      </md-content>

    </div>


</body>
</html>