<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale=1" />

  <base href="/app/">

  <title>Neural Activity Resource Browser</title>

  <!-- css files -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
  <link rel="stylesheet" href="/app/app.css">

  <!-- angular stuff -->
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-animate/angular-animate.js"></script>
  <script src="/node_modules/angular-aria/angular-aria.js"></script>
  <script src="/node_modules/angular-messages/angular-messages.js"></script>
  <script src="/node_modules/angular-material/angular-material.js"></script>
  <script src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
  <script src="/node_modules/angular-resource/angular-resource.js"></script>
  <script src="/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>

  <!-- authentication/authorization -->
  <script src="/lib/angular-bbp-config/angular-bbp-config.js"></script>
  <script src="/lib/bbp-oidc-client/angular-bbp-oidc-client.js"></script>
  <script src="/node_modules/hellojs/dist/hello.min.js"></script>
  <script src="/node_modules/lodash/index.js"></script>
  <script src="/lib/angular-hbp-collaboratory/angular-hbp-collaboratory.js"></script>

  <!-- our angular app -->
  <script src="/app/app.js"></script>
  <script src="/app/services.js"></script>
  <script src="/app/controllers/topbar.js"></script>
  <script src="/app/controllers/home.js"></script>
  <script src="/app/controllers/eeg.js"></script>
  <script src="/app/controllers/fMRI.js"></script>
  <script src="/app/controllers/mea.js"></script>
  <script src="/app/controllers/patch-clamp.js"></script>
  <script src="/app/controllers/sharp-electrode.js"></script>
  <script src="/app/controllers/two-photon.js"></script>
  <script src="/app/controllers/dataset.js"></script>

  <!-- visualizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
  <script type="text/javascript" src="/app/visualizer/visualizer.js"></script>
  <script type="text/javascript" src="/app/visualizer/services.js"></script>
</head>


<body ng-app="nar" layout="column">

      <!-- Toolbar -->
    <md-toolbar layout="row" class="md-toolbar-tools">
      <div class="md-toolbar-tools">

        <md-menu md-offset="0 40">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdMenu.open($event);">
            <md-icon md-menu-origin>menu</md-icon>
            </md-button>
            <md-menu-content width="6">
            <md-menu-item>
                <md-button ui-sref="home">Home</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="patch-clamp-list">Patch clamp recording</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="sharp-electrode-list">Intracellular sharp-electrode recording</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="mea">Multi-electrode array recording</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="two-photon">Two-photon calcium imaging</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="EEG">EEG</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="fMRI">fMRI</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="datasets">All datasets</md-button>
            </md-menu-item>
            </md-menu-content>
        </md-menu>

        <h1 flex md-truncate><a ui-sref="home">Neural Activity Resource (alpha)</a></h1>

        <div ng-controller="TopBarController as tb">
            <md-input-container ng-show="tb.canAccessUnreleased">
                <md-switch ng-model="tb.showUnreleased" ng-change="tb.switch()">
                    <small>{{tb.showUnreleased ? "Curated" : "Public"}}</small>
                </md-switch>
            </md-input-container>
            <md-input-container ng-show="tb.canAccessIntegration">
                <md-switch ng-model="tb.showIntegration" ng-change="tb.switch()">
                    <small>{{tb.showIntegration ? "Integration" : "Production"}}</small>
                </md-switch>
            </md-input-container>
        </div>
      </div>
    </md-toolbar>


    <ui-view></ui-view>

    <div layout="row">
        <!-- footer -->
        &nbsp;
    </div>

</body>
</html>