<html>

<head>
    <title>Neo Visualizer example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/nvd3/build/nv.d3.css">

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="node_modules/d3/d3.js"></script>
    <script type="text/javascript" src="node_modules/nvd3/build/nv.d3.js"></script>
    <script type="text/javascript" src="node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
    <script type="text/javascript" src="src/visualizer.js"></script>
    <script type="text/javascript" src="src/services.js"></script>
</head>

<body>
    <div class="container">
        <div class="row" ng-app="neo-visualizer">
            <h1>Example with manual entry of data file URL</h1>
            <div ng-controller="URLFormController">
            <form class="form-inline">
                <div class="form-group">
                  <label for="dataFileURL">URL of data file:</label>
                  <input type="text" class="form-control" ng-model="dataFileURL" id="dataFileURL" placeholder="enter data file URL here" style="width: 600px;">
                </div>
              </form>
              
            <visualizer-view ng-if="dataFileURL"
                source="{{dataFileURL}}"
                height=300>
            </visualizer-view>
            </div>
        </div>
    </div>
</body>

</html>