

# editors
.idea
.vscode

# apps
apps/nar-browser/node_modules
apps/nar-browser/lib
visualizer/node_modules
visualizer/neural_activity_app/app/node_modules
visualizer/neural_activity_app/app/static
visualizer/neural_activity_app/app/static_old

# Python stuff
*.egg-info
__pycache__
.ipynb_checkpoints

# other
*.log
*.DS_Store