.app {
    margin-left: 1%;
    margin-right: 1%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.content {
    display: flex;
    margin-bottom: 3%;
}


/*panels*/

#menu-panel {
    /*width: 20%;*/
    min-height: 500px;
    margin-right: 2%;
    overflow: auto;
    border-right: 1px #b3cdd8;
}


/*.element-middle {
    background-color: darkgray;
    width: 2px;
    margin-right: 1%;
    margin-left: 1%;
}*/

#detail-panel {
    width: 70%;
    margin-left: 2%;
    overflow: auto;
    /*border: 1px black;*/
}