
<md-content class="md-padding" layout="row">
    
    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Patch clamp recording</span>
                <span class="md-subhead">{{app.experiment_count}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img src="/app/images/patch-clamp.png">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a ui-sref="patch-clamp"><md-button class="md-icon-button md-primary" aria-label="Patch clamp recording">
                <md-icon>subdirectory_arrow_right</md-icon>
            </md-button></a>
        </md-card-actions>
    </md-card>

    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline coming-soon">Intracellular sharp-electrode recording</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a ui-sref="sharp-electrode"><md-button class="md-icon-button" aria-label="Intracellular sharp-electrode recording">
                <md-icon>subdirectory_arrow_right</md-icon>
            </md-button></a>
        </md-card-actions>
    </md-card>

    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline coming-soon">EEG</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a ui-sref="EEG"><md-button class="md-icon-button" aria-label="EEG">
                <md-icon>subdirectory_arrow_right</md-icon>
            </md-button></a>
        </md-card-actions>
    </md-card>

</md-content>

<md-content class="md-padding" layout="row">

    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline coming-soon">Multi-electrode array recording</span>
            <span class="md-subhead">   </span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
                <a ui-sref="mea"><md-button class="md-icon-button" aria-label="Multi-electrode array recording">
                    <md-icon>subdirectory_arrow_right</md-icon>
                </md-button></a>
        </md-card-actions>
    </md-card>

    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline coming-soon">Two-photon calcium imaging</span>
                <span class="md-subhead"></span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a ui-sref="two-photon"><md-button class="md-icon-button" aria-label="Two-photon calcium imaging">
                <md-icon>subdirectory_arrow_right</md-icon>
            </md-button></a>
        </md-card-actions>
    </md-card>



    <md-card md-theme="default">
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline coming-soon">fMRI</span>
            <span class="md-subhead"></span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content></md-card-content>
        <md-card-actions layout="row" layout-align="end center">
                <a ui-sref="fMRI"><md-button class="md-icon-button" aria-label="fMRI">
                    <md-icon>subdirectory_arrow_right</md-icon>
                </md-button></a>
        </md-card-actions>
    </md-card>
        
</md-content>