<!-- Container for sidebar and main content -->
<div flex layout="row">

    <!-- Main content -->
    <md-content flex id="content">

        <div layout="row" flex>
            <h2 class="md-headline" flex=90>Recordings with sharp electrodes</h2>
            <div layout-align="end"><img src="/app/images/sharp-electrode.png"></div>
          </div>

        <md-list>
            <md-subheader class="md-no-sticky"></md-subheader>
            <md-list-item ng-repeat="experiment in app.experiments | orderBy:'get_label()'"
                          ui-sref="sharp-electrode-instance({ instanceId: experiment.path.uuid })" ng-click="null">
                {{experiment.get_label()}}
            </md-list-item>
          </md-list>
    </md-content>
</div>