<div ng-controller="AnalogSignalViewCtrl">

    <body>
        <h1 align=center> Analog Signal #{{analog_signal_id}} </h1>

        <panel class=description-panel>

            <table class="table-create">
                <thead>
                </thead>
                <tbody>
                    Analog Signal info
                </tbody>
            </table>
        </panel>
        <panel id=graph_panel>
            <table>
                <tbody>
                    <tr>
                        <td style="width: 85% ">
                            <nvd3 options="options" data=graph_data.values id=''></nvd3>
                        </td>
                        <!--<td style="width: 15% ">
                                <div id="checkbox-{{key}} ">
                                    <div ng-repeat=" (key2,test_code) in score_type.values.list_ids " class=checkbox>
                                        <label> <input id="check-{{key}}-{{test_code}} " type="checkbox" >{{test_code}}
                             </label>

                                    </div>
                                </div>
                                <br>
                                <a class="button-MC " class="btn btn-primary " ng-click=updateGraph(key)>Update graph</a>
                            </td>-->
                    </tr>
                </tbody>

            </table>

        </panel>
        <br>
        <br>


    </body>
</div>