{% load staticfiles %}

<html>

<head>
    <title>{% block title %} Neural Activity Service{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/nvd3/build/nv.d3.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <script type="text/javascript" src="{% static 'node_modules/hellojs/dist/hello.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/hellojs/dist/hello.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular/angular.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-uuid4/angular-uuid4.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/@uirouter/angularjs/release/angular-ui-router.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-resource/angular-resource.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/ng-text-truncate/ng-text-truncate.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/d3/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/nvd3/build/nv.d3.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-nvd3/dist/angular-nvd3.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/google-palette/palette.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-deferred-bootstrap/angular-deferred-bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/moment/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-moment/angular-moment.js' %}"></script>

    <script type="text/javascript" src="{% static 'node_modules/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-cookies/angular-cookies.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/service.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/visualizer.component.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/block.component.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/segment.component.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/analogsignal.component.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spiketrain.component.js' %}"></script>
    <div class="app container-fluid">
        <div class="row">
            <main class="page">
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>
</body>

</html>