<div ng-transclude>

    <body>
        <h2 align=center>Segment #{{segment_id}}</h2>
        </br>
        </br>
        <panel class=description-create>
            <table class="table-detail">
                <thead>
                </thead>
                <tbody>
                    <tr ng-if="data_segment.name">
                        <td><b> Name: </b> {{data_segment.name}} </td>
                    </tr>
                    <tr ng-if="data_segment.description">
                        <td><b> Description: </b> {{data_segment.description}} </td>
                    </tr>
                    <tr ng-if="data_segment.file_origin">
                        <td><b> File origin: </b> {{data_segment.file_origin}} </td>
                    </tr>
                </tbody>
            </table>
        </panel>
        </br>
        <table class="table-detail" ng-if="data_segment.annotations">
            <tbody>
                <th><b> Annotations: </b></th>
                <tr class="indented" ng-repeat="(key,value) in data_segment.annotations">
                    <td><b>
                    {{key}}: </b> {{value}}</td>
            </tbody>
        </table>
        </br>
        </br>
        <h3 align=center ng-if="data_segment.as_prop">Analogsignals Array</h3>
        <div class="table-limited-size" ng-if="data_segment.as_prop">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 15%">Id</th>
                        <td>Name</td>
                        <td>Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class=tr-clickable ng-repeat="(as_key,analogSignal) in data_segment.as_prop" ng-click="showAnalogsignals(segment_id)" ui-sref="visualizer.analog_signal({segment_id:{{segment_id}},analog_signal_id:{{as_key}}})" ui-sref-active="active">
                        <th style="width: 5%">{{as_key}}</th>
                        <td style="width: 10%">{{analogSignal.name}}</td>
                        <td style="width: 10%">{{analogSignal.size}}</td>
                        <td style="width: 20%">

                        </td>
                </tbody>
            </table>
        </div>
        <h3 align=center ng-if="data_segment.st_prop">Spiketrains Array</h3>
        <div class="table-limited-size" ng-if="data_segment.st_prop">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 15%">Id</th>
                        <td>Name</td>
                        <td>Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class=tr-clickable ng-repeat="(st_key,spiketrain) in data_segment.st_prop" ng-click="visualizer.spiketrain({segment_id:{{segment_id}},spiketrain_id:{{st_key}}})" ui-sref-active="active">
                        <th style="width: 5%">{{st_key}}</th>
                        <td style="width: 10%">{{spiketrain.name}}</td>
                        <td style="width: 10%">{{spiketrain.size}}</td>
                        <td style="width: 20%">

                        </td>
                </tbody>
            </table>
        </div>
        </br>
        </br>
    </body>

    <!--<body>
        <h1 align=center> Segment #{{segment_id}} </h1>

        <panel class=description-panel>

            <table class="table-create">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>name: </td>
                        <td>{{data_segment.name}}</td>
                    </tr>
                    <tr>
                        <td>description: </td>
                        <td>{{data_segment.description}}</td>

                    </tr>
                    <tr>
                        <td>file origin: </td>
                        <td>{{data_segment.file_origin}}</td>
                    </tr>
                </tbody>
            </table>
        </panel>
        <br>
        <h4>Annotations</h4>
        <table class="table">
            <tbody>
                <tr ng-repeat="(key,value) in data_segment.annotations">
                    <th style="width: 15%" scope="row">{{key}}</th>
                    <td>{{value}}</td>
            </tbody>
        </table>
        <br>
        <br>
        <h2>Analogsignals Array</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 15%">Id</th>
                    <td>Name</td>
                    <td>Size</td>
                </tr>
            </thead>
            <tbody>
                <tr class=tr-clickable ng-repeat="(as_key,analogSignal) in data_segment.as_prop">
                    <th style="width: 15%">{{as_key}}</th>
                    <td>{{analogSignal.name}}</td>
                    <td>{{analogSignal.size}}</td>
                    <td style="width: 15%">

                    </td>
            </tbody>
        </table>

    </body>-->
</div>