<div ng-controller="SegmentViewCtrl">

    <body>
        <h1 align=center> Segment #{{segment_id}} </h1>

        <panel class=description-panel>

            <table class="table-create">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>name: </td>
                        <td>{{data_segment.name}}</td>
                    </tr>
                    <tr>
                        <td>description: </td>
                        <td>{{data_segment.description}}</td>

                    </tr>
                    <tr>
                        <td>file origin: </td>
                        <td>{{data_segment.file_origin}}</td>
                    </tr>
                </tbody>
            </table>
        </panel>
        <br>
        <h4>Annotations</h4>
        <table class="table">
            <tbody>
                <tr ng-repeat="(key,value) in data_segment.annotations">
                    <th style="width: 15%" scope="row">{{key}}</th><td>{{value}}</td>
            </tbody>
        </table>
        <br>
        <br>
        <h2>Analogsignals Array</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 15%">Id</th><td>Name</td><td>Size</td>
                </tr>
            </thead>
            <tbody>
                <tr class=tr-clickable ng-repeat="(as_key,analogSignal) in data_segment.as_prop">
                    <th style="width: 15%">{{as_key}}</th><td>{{analogSignal.name}}</td><td>{{analogSignal.size}}</td>
                    <td style="width: 15%">

                    </td>
            </tbody>
        </table>

    </body>
</div>