<div ng-controller="SpiketrainViewCtrl">

    <body>
        <h2 align=center>Spiketrain #{{spiketrain_id}} </h2>
        </br>
        </br>

        <panel id=graph_panel>
            <table style="table-layout: fixed; width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: auto;">
                            <nvd3 options="options" data=graph_data.values id=''></nvd3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </panel>
        <br>
        <br>
    </body>
</div>